.boton {
    text-align: center;
    min-width: 10vw;
    min-height: 7vh;
    border: solid black 2px;
    background-color: #187498;
    color: white;
    line-height: 3em;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}

.boton:hover {
    background-color: #122EA6;
}

.select {
    background-color: #36AE7C;
}

.error,
.delete {
    background-color: #EB5353;
}

.delete:hover {
    background-color: #EB1B1B;
}

@media (max-width: 425px) {
    .boton {
        width: 23vw;
    }
}

@media (max-width: 768px) {
    .boton {
        width: 21vw;
    }
}